.intro-section{
    background-image: url('https://i.ibb.co/X3TJYvV/about-bg.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    
}

@media only screen and (min-width: 769px) {
      .intro-section{
        background-attachment: fixed;
      }
  }