.card-body,.single-card{
    transition: 0.8s;
}

.single-card:hover{
background-color: #5ed3d188;
color: black;
}
.single-card:hover .card-body{
    color: black;
}
.single-card:hover .price{
    color: black;
}