.testimonial-page{
        background: url('https://i.ibb.co/St9VCTV/we-Offer-bg.jpg');
        background-repeat:no-repeat;
        background-size: cover;
        /* background-attachment: fixed; */
        padding: 10px 0;
}
.carousel-container{
    width: 50%;
    margin:auto;
    border-radius: 5%;
    padding: 20px;
}

@media only screen and (min-width: 769px) {
    .testimonial-page{
      background-attachment: fixed;
    }
}
